/* app css stylesheet */

body {
	padding-top: 40px;
	background-color: #f5f5f5;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.projectOverview .projectName {
	width: 70%;
}

.projectOverview .projectOptions a {
	margin-right: 20px;
}

.projectSettingsTab .projectSettingsForm label {
	text-align: left;
}

.projectSettingsTab .projectDeleteForm label {
	margin-right: 20px;
}

.projectDeleteConfirmForm label {
	text-align: left !important;
}

.projectMembersTab .invitePersonForm label, .projectMembersTab .invitePersonForm input {
	margin-right: 20px;
}

.projectCreationForm label {
	text-align: left !important;
}

.taskBox {
	padding: 0px !important;
}

.taskBox .boxHeader {
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #555555;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #EEEEEE;
	font-weight: bold;
	border: 1px solid #040404;
}

.taskBox table tr td {
	background-color: #fefefe;
	padding-top: 4px;
	padding-bottom: 4px;

}

.taskBox {
	background-color: #f5f5f5;
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
	border-radius: 5px;
	overflow: auto;
}

.tasks {
	padding: 0;
	margin: 0;
}

.tasks > .item, .tasks > .placeholder {
	padding: 4px 8px 4px 8px;
	margin: 0;
	list-style: none;
}

.currentTasks > li {
	background-color: #FAF2CC;
	border-bottom: 1px solid #EAE2BB;
}

.currentTasks > li.expanded {
	background-color: #F5F7DD;
	border-bottom: 1px solid #EAE2BB;
}

.currentTasks .taskEditForm {
	border-bottom: #EAE2BB 1px solid;
}

.currentTasks .comments {
	background-color: #FFFFEE;
}

.iceboxTasks > li {
	background-color: #BCE8F1;
	border-bottom: 1px solid #ACD8E1;
}

.backlogTasks > li {
	background-color: #F2EEEE;
	border-bottom: 1px solid #E2DEDE;
}

.projectMenu .active {
	font-weight: bold;
}

.taskType {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
}

.taskType.bug {
	background-image: url('../img/bug.png');
}

.taskType.issue {
	background-image: url('../img/issue.png');
}

.taskEditForm {
	padding-top: 20px;
	padding-bottom: 20px;
}

.taskEditForm label {
	width: 100px !important;
	text-align: left !important;
}

.taskEditForm .controls {
	margin-left: 120px !important;
}

.taskEditForm .control-group {
	margin-bottom: 5px !important;
}

.taskDeleteForm label {
	margin-right: 20px;
}

.commentsHeader {
	font-weight: bold;
}

.comment {
	padding: 10px 15px;
	border-bottom: 1px solid #FAF2CC;
}

.commentText {
	font-size: 80%;
}

.comment.replay textarea {
	width: 100%;
}

.comment.replay div {
	padding-right: 15px;
}